:root {
    --content-width: 500px;
    --bottom-ribbon-height: 10px;
    --content-margin-top: 50px;

}

@media screen and (max-width: 500px) {
   :root {     
        --content-width: 95%;
        --content-margin-top: 10px;
        --bottom-ribbon-height: 40px;
        
   }
}


body {
    background-color: #482525;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bg.png');
    background-size: 200px;
    background-repeat: repeat;
    height: 100vh;
}

#header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#content {
    margin-top: var(--content-margin-top);
    padding: 10px;
    width: var(--content-width);
    margin: 0 auto;
    align-self: center;
    background-color: bisque;
    height: 100%;
}

#bottom-ribbon {
    position:fixed;
    bottom:0;
    width: 100%;
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    height: var(--bottom-ribbon-height);
    box-shadow: 0px 0px 10px 0px #000;
    transition: all 0.5s ease;
}

#bottom-ribbon:hover {
    height: 40px;
}

.flag {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.flag-section {
    flex: 1;
}

.flag-section.red {
    background-color: #E4312b;
    color: #fff;
}

.flag-section.green {
    background-color: #149954;
    color: #fff;
}

.flag-section.black {
    background-color: #000;
    color: #333;
}

.flag-section.blue {
    background-color: #99D9EA;
    color: #fff;
}

.flag-section.pink {
    background-color: #FFAEC9;
    color: #333;
}

.flag-section.white {
    background-color: #fff;
    color: #333;

}