:root {
    --content-width: 500px;
    --bottom-ribbon-height: 10px;
    --content-margin-top: 50px;
    --maroon: #482525;
    --maroon-light: #bb8a8a;

}

div {
    box-sizing: border-box;
}




body {
    
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;

    height: 100dvh;
}

#container {
    position:fixed;

    display: flex;
    background-color: var(--maroon);
    background-image: url('bg.png');
    background-size: 150px;
    background-repeat: repeat;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#header {

    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#title {
    background-color: #00000050;
    height: 100%;
    flex: 1 1 auto;
}

.title-section {
    
    height: 100%;
    width: 100%;
    display: flex;
    margin-left: auto;
    flex-direction: column;
    mix-blend-mode: screen;
    

    background-color: #FFF;
}

#title span {
    font-size: 30vw;
    margin-top: 10%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 20px;
}



#content {
    height: 100%;
    overflow: scroll;
    
    padding: 0;
    flex: 0 0 auto;
    width: 450px;
    margin-right: 0;
    align-self: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.option:first-child {
    margin-top: auto;
}

.option:nth-child(2) {
    margin-bottom: 20px;
}

.option {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 10px 20px;
    transition: all 0.5s ease;
    justify-items: center;
    margin-bottom: 10px;
}

.option:hover {
    background-color: #f0f0f0;
    transform: scale(1.03);
}

.option a {
    text-decoration: none;
    color: var(--maroon);
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
    align-items: center;
}

.option .title {
    flex: 1;
    font-size: 3em;
}



.option .description {
    flex: 1;
    font-size: 1.5em;
    font-style: italic;
    color: var(--maroon);
    margin-left: auto;
    margin-right: 0;
    text-align: right;
    float: right;
    
}


#bottom-ribbon {
    position:fixed;
    bottom:0;
    left: 0;
    width: 100dvw;
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    height: var(--bottom-ribbon-height);
    box-shadow: 0px 0px 10px 0px #000;
    transition: all 0.5s ease;
}

#bottom-ribbon:hover {
    height: 40px;
}

.flag {
    display: flex;
    flex-direction: row;
    flex: 1;
    transition: all 0.5s ease;
}

.flag-section {
    flex: 1;
}

.flag-section.red {
    background-color: #E4312b;
    color: #fff;
}

.flag-section.green {
    background-color: #149954;
    color: #fff;
}

.flag-section.black {
    background-color: #000;
    color: #333;
}

.flag-section.blue {
    background-color: #99D9EA;
    color: #fff;
}

.flag-section.pink {
    background-color: #FFAEC9;
    color: #333;
}

.flag-section.white {
    background-color: #fff;
    color: #333;

}

@media screen and (max-width: 700px) {
    :root {     
         --content-width: 95%;
         --content-margin-top: 10px;
         --bottom-ribbon-height: 40px;
         
    }


 
    #container {
        flex-direction: column;
        position: relative;
        background-size: 100px;
        height: 100%;
        flex: 1 1 auto;
    }
 
    #title{
         height: auto;
         width: 100%;
         align-items: end;
         flex: 0 0 auto;
    }

    .title-section {
        margin-right: 0;
    }
    #title span {
        font-size: 5em;
    }
 
    #content {
        width: 100%;
        margin-top: 0;
        height: unset;
        flex: 1 1 auto;
        padding:0;
    }
    
    #bottom-ribbon {
        position: relative;
        height: 40px;
        flex-direction: row;
        margin-bottom: 0;
    }

    .option:hover {
        transform: none;

    }
 
 
 }